{% extends 'base.html' %}

{% block content %}
{% verbatim %}
<div ng-controller="ProjectListController">
    <div class="row">
        <div class="col-md-10">
            <a ng-repeat="item in tags" class="btn btn-xs {{ (item.0 == searchConfig.tag) ? 'btn-success' : 'btn-default' }}" style="margin-right: 10px" ng-click="refreshProjectList({tag: item.0 })">{{ item.0 }} ({{ item.1 }})</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-info btn-xs" ng-click="markVisibleProjectsRead()">Mark all read</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a ng-repeat="item in statuses" class="btn btn-xs {{ (item.0 == searchConfig.status) ? 'btn-success' : 'btn-default' }}" style="margin-right: 10px" ng-click="refreshProjectList({status: item.0 })">{{ item.0 }} ({{ item.1 }})</a>
        </div>
        <div class="col-md-4">
            <a ng-repeat="item in services" class="btn btn-xs {{ (item.0 == searchConfig.service) ? 'btn-success' : 'btn-default' }}" style="margin-right: 10px" ng-click="refreshProjectList({service: item.0 })">{{ item.0 }} ({{ item.1 }})</a>
        </div>
    </div>

    <hr>
    <div ng-repeat="proj in projects">
        <div class="row">
            <div class="col-md-6">
                <h4 style="margin-top: 0"><a href="{{ proj.url }}" target="_blank" class="content-node">{{ proj.title }}</a></h4>
                <p class="content-node" ng-bind-html="proj.description|highlight:highlight_keywords"></p>
            </div>
            <div class="col-md-4">
                <p><b>Date:</b> {{ proj.date }}</p>
                <p><b>Country:</b> {{ proj.country }}</p>
                <p><b>Category:</b> {{ proj.category }}</p>
                <p>
                    <span class="label label-default">{{ proj.status }}</span>
                    <span class="label label-info">{{ proj.service }}</span>
                </p>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success" ng-click="markProjectRead(proj.id)">read</a>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endverbatim %}
{% endblock %}
