{% load staticfiles %}<!DOCTYPE html>
<html lang="ru" ng-app="JobMonitorApp">
    <head>
        <!-- Meta tags -->
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_meta %}{% endblock %}

        <!-- CSS -->
        <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}"  rel="stylesheet">
        {#<link href="{% static "glyphicons/css/bootstrap-glyphicons.css" %}" rel="stylesheet">#}
        {% block extra_css %}{% endblock %}

        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>

        <!-- Extra head stuff -->
        {% block extra_head %}{% endblock %}
    </head>
<body>
    {% include "navbar.html" %}

    <div class="container">
        {% verbatim %}
        <div ng-controller="NotificationController">
            <div ng-repeat="msg in messages" class="alert alert-{{ msg.type }}">
                <button type="button" class="close" data-dismiss="alert" ng-click="closeMessage(msg.id)">×</button>
                <p>{{ msg.content }}</p>
            </div>
        </div>
        {% endverbatim %}

        {% block content_wrapper %}
        <div class="row">
            <div class="col-md-12">
                {% block crumbs %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
            {% comment %}
            <div class="col-md-3 sidebar">
                {% block sidebar_before %}{% endblock %}
                {% block sidebar %}{% endblock %}
                {% include "sidebar.html" %}
                {% block sidebar_after %}{% endblock %}
            </div>
            {% endcomment %}
        </div>
        {% endblock %}

    </div> <!-- /container -->

    <hr/>
    {% include "footer.html" %}

    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="{% static "respond/dest/respond.min.js" %}"></script>
    <script src="{% static "angular/angular.min.js" %}"></script>
    <script src="{% static "angular-sanitize/angular-sanitize.min.js" %}"></script>
    <script src="{% static "angular-cookies/angular-cookies.min.js" %}"></script>
    <script src="{% static "app/controllers.js" %}"></script>
    {% block extra_js %}{% endblock %}

  </body>
</html>

